[2020-08-28 08:14] matthew-mogford-veriforce opened #1 "Recoil as an experiment went very well, but should be retired until it has RC"
Recoil is a Facebook experiment to overcome issues with redux, react contexts and states.
Although, looks like it won't have a Release Candidate very soon.
But definitely will be something to look at in the future.

Revert to style of React Context and useReducer from just before features/recoil was merged in.
The data structures etc. will most likely need altering at this point so it won't just b

[2020-08-28 08:22] matthew-mogford-veriforce opened #2 "Merge default plugins back into this project"
Pull the plugins from [Alcumus/react-doc-viewer-plugins](https://github.com/Alcumus/react-doc-viewer-plugins) back into this repository.
There is no advantage to them being in an external repository, as once in this project they can be optionally imported in the same way, and also overridden by custom renderers from the user.

[2020-08-28 15:00] #2 closed, assigned to mattmogford-alcumus

[2020-08-28 21:09] matthew-mogford-veriforce opened #5 "Individual included renderer usage missing from the README"

[2020-08-28 21:55] matthew-mogford-veriforce opened #6 "Make all ui replaceable through component props"
Make individual UI elements replaceable.
E.g. fileName, document controls and the whole header.
Document controls override prop should return a function that provides callbacks to prev and next document navigation.

[2020-09-01 09:55] #1 closed, assigned to mattmogford-alcumus

[2020-09-01 10:09] #5 closed, assigned to mattmogford-alcumus

[2020-09-02 08:15] #6 closed, assigned to mattmogford-alcumus

[2020-09-02 11:24] matthew-mogford-veriforce opened #12 "Reduce dependencies by removing fontawesome and it's companion packages"

[2020-09-02 11:29] #12 closed, assigned to mattmogford-alcumus

[2020-09-03 08:43] matthew-mogford-veriforce opened #15 "Make LoadingContainer contents replaceable"

[2020-09-03 08:44] matthew-mogford-veriforce opened #16 "Make no-documents contents replaceable"

[2020-09-03 08:44] matthew-mogford-veriforce opened #17 "Make no-renderer contents replaceable"

[2020-09-03 08:49] matthew-mogford-veriforce opened #18 "Add ability for user to have a custom decorator to replace 'weight'"
* Or a whole new decorator and way of selecting a preferred renderer.
e.g. Where SelectedRenderer is chosen inside`useRendererSelector.ts`, the user could pass in their own sorting function.

[2020-09-15 13:09] matthew-mogford-veriforce opened #19 "Download PDF Button not working"
Need to make a LinkButton that is created from <a> tag

[2020-09-15 13:19] #19 closed, assigned to mattmogford-alcumus

[2020-09-15 13:20] matthew-mogford-veriforce opened #21 "Add 'download file' button on - no-renderer found screen"

[2020-09-15 13:24] #21 closed, assigned to mattmogford-alcumus

[2020-09-15 13:27] matthew-mogford-veriforce opened #23 "Duplicate File loading"
* Don't initially download the whole file, just fetch the headers and determine the mime-type
* If a custom renderer needs to load the file itself, add a callback function to run after the mime-type is detected

[2020-09-15 13:30] #23 closed, assigned to mattmogford-alcumus

[2020-09-16 13:09] matthew-mogford-veriforce opened #24 "Allow the user to specify file type per document to prevent need for HEAD fetch"

[2020-09-16 13:30] #24 closed, assigned to mattmogford-alcumus

[2020-09-16 14:09] matthew-mogford-veriforce opened #27 "Fix: Document fetches header even if file type is supplied"

[2020-09-16 14:12] #27 closed, assigned to mattmogford-alcumus

[2020-09-18 12:09] matthew-mogford-veriforce opened #29 "Add a Renderer for common Microsoft File Extensions"
* doc
* docx
* ppt
* pptx
* xls
* xlsx

[2020-09-18 12:23] #29 closed, assigned to mattmogford-alcumus

[2020-09-24 11:01] matthew-mogford-veriforce opened #31 "README - styled component example is missing a closing bracket after DocViewer"
https://www.npmjs.com/package/react-doc-viewer#--styledcomponent

[2020-09-24 12:34] #31 closed, assigned to mattmogford-alcumus

[2020-09-24 12:50] matthew-mogford-veriforce opened #33 "Create TIFF renderer"

[2020-09-24 12:51] matthew-mogford-veriforce opened #34 "Create BMP renderer"

[2020-09-24 14:33] #34 closed, assigned to mattmogford-alcumus

[2020-09-24 16:30] #33 closed, assigned to mattmogford-alcumus

[2020-09-25 15:18] matthew-mogford-veriforce opened #38 "MSGRenderer - Use safe iframe for msg content display"

[2020-09-25 15:28] matthew-mogford-veriforce opened #40 "Create HTMLRenderer"

[2020-09-25 15:28] #38 closed, assigned to mattmogford-alcumus

[2020-09-25 15:33] #40 closed, assigned to mattmogford-alcumus

[2020-09-29 13:40] mattmogford-alcumus opened #45 "Create RTF Renderer"

[2020-09-30 02:37] Gusyavo opened #46 "No Renderer for file type application/vnd.openxmlformats-officedocument.wordprocessingml.document"
Hello!

I am getting this message when I try to use this library:

![image](https://user-images.githubusercontent.com/58519155/94636886-d87a1d00-029b-11eb-9da3-6426e164b1e9.png)

This is my code:

Am I doing anything wrong? Thanks in advance for your answer!

import React from 'react'
import DocViewer from 'react-doc-viewer'

function Viewer() {

  // const path = './Sample1.docx'

  const docs =

[2020-09-30 15:17] mattmogford-alcumus opened #49 "Create TXT Renderer"

[2020-09-30 15:21] #49 closed

[2020-10-02 08:42] mattmogford-alcumus commented on #45
Creating an RTF renderer would require a very large library import to the package.
This should be created in an external repo. At the moment we have a custom renderer for this in an Alcumus project.
If demand is high for this we can put it into an external repo

[2020-10-02 08:42] #45 closed

[2020-10-20 14:09] mattmogford-alcumus commented on #46
Apologies for the late reply.
Even though I created this repo, I didn't get notifications. I'm not watching it.

You must make sure you supply `<DocViewer>` with pluginRenderers.
[https://github.com/Alcumus/react-doc-viewer#included-renderers](https://github.com/Alcumus/react-doc-viewer#included-renderers)

[code]

DocViewerRenderers includes the MSDocRenderer.
Or if you don't need the other rende

[2020-10-20 14:12] #46 closed

[2020-10-20 14:17] mattmogford-alcumus commented on #46
@Gusyavo If you are still having issues, respond here and I will gladly help out.

[2020-10-22 06:45] Gusyavo commented on #46
Hey Matt!

Thank you very much for taking the time to answer, I really apreciate it.

I did as you adviced and added the pluginRenderers, this is the code:

the url is a url to an s3 bucket that contains a .docx file. I verified it and it works.

![image](https://user-images.githubusercontent.com/58519155/96834672-01f41780-1408-11eb-85b0-47a3ad0407b3.png)

But I get this error:

![image](https://u

[2020-10-22 10:41] mattmogford-alcumus commented on #46
I believe when fetching the file extension aws returns xml instead of the actual filetype extension.
Do you know the fileType extension in advance? If so could you provide it to the docs array object?

[code]

[2020-10-26 06:19] Gusyavo commented on #46
You were right!!! It now looks like this:

![image](https://user-images.githubusercontent.com/58519155/97139669-0468b100-1729-11eb-8be3-c9579522798f.png)

It renders the doc, but it shows the urlson top of it too. Am I doing anything wrong?

And, to adjust the height, I guess I have to create a custom renderer and add use css in it, right?

[2020-10-26 08:33] mattmogford-alcumus commented on #46
**1. The Header**
Is separate from the custom renderers for file types.
You have a few options for the header, I will add more in the future.
[https://github.com/Alcumus/react-doc-viewer#config](https://github.com/Alcumus/react-doc-viewer#config)
  a) `disableHeader: true` - Then Create your own header/file name display wherever you want. But this will remove file navigation if you plan on using m

[2020-10-26 08:40] mattmogford-alcumus commented on #46
@Gusyavo  I would also recommend hiding the access key etc. in your screenshot just in-case.

[2020-10-26 16:30] drrc1709 opened #51 "add option for view files tif"
Add option for view files tif, this library or extesion is the most complete that I found, and I do testing to integrate this with my web app, the option for view docs, no works

[2020-10-26 20:22] Gusyavo commented on #46
Matt, I can't thank you enough for your help! It was really kind of you telling me what to do. And this library works beautifully!!!

[2020-10-27 01:14] Gusyavo commented on #46
One last thing: everything works perfectly but I am getting these warnings, I do not know if they are normal:

![image](https://user-images.githubusercontent.com/58519155/97244912-d7b7a680-17c7-11eb-833d-9193e261ad02.png)

[2020-10-27 08:56] mattmogford-alcumus commented on #46
This is an old but common issue with JQuery. I guess you are using JQuery? Or a library that is using jquery.

This is outside of the scope of react-doc-viewer, but I have read that this can solve your issue

[code]
Although I'm not sure where that code needs to go.
You may need to clone more of those blocks of code to get rid of `mousewheel` warnings too, and any others that are still happening.

[2020-10-27 15:23] drrc1709 commented on #51
hey friend, how are you?, I need your help, Besides that an error appears when showing some MS Office document, I have tried to use TIFFRenderer to see a .tiff file but in the browser it comes out completely white, it is not displayed, could you help me by indicating how to use this TIFFRenderer or how to use it if use DocViewerRenderers

this is my source

`import React from 'react';
import './Ap

[2020-10-28 09:45] mattmogford-alcumus commented on #51
Do you have any errors in the console?

[2020-10-28 09:47] mattmogford-alcumus commented on #51
Also, If you quickly need a renderer for TIF files, you can create custom renderers.
https://www.npmjs.com/package/react-doc-viewer#custom-renderer

[2020-10-28 22:34] drrc1709 commented on #51
I did that today but it doesn't work either, look at the code and the view, if you could please help me it would be very helpful and I would be grateful

![imagen](https://user-images.githubusercontent.com/50565417/97503848-cb585880-1943-11eb-8ffb-67e72b72a92a.png)
![imagen](https://user-images.githubusercontent.com/50565417/97503874-d9a67480-1943-11eb-9649-03fdecfa708d.png)

[2020-10-29 08:35] mattmogford-alcumus commented on #51
@drrc1709 Would it be possible to provide the exact tif file you are using, this may well be a bug with particular tiff files.
I only have a few example tif files and they render OK.

[2020-10-30 13:25] drrc1709 commented on #51
[docs.zip](https://github.com/Alcumus/react-doc-viewer/files/5465348/docs.zip)

[2020-10-31 23:40] emorling opened #56 "Demo"
Is there an online demo somewhere? Thanks!

[2020-11-01 01:03] mattmogford-alcumus commented on #56
There isn't at the moment. But follow the installation and Usage basic within a basic react app.

[2020-11-01 01:03] #56 closed

[2020-11-04 21:52] Relaxe111 opened #57 "Is possible to view a file from memory?"
Hello, first of all thank-you for this awesome package!)

Do i have possibility to view a file which I have loaded in memory?

[2020-11-04 22:27] #51 closed

[2020-11-04 22:32] mattmogford-alcumus commented on #57
I guess it depends on how you have loaded the file.
If you have file at coding you can require('filename.png').
If you have base64 I believe that you can pass it to file data instead of providing a Uri to the document object.
https://github.com/Alcumus/react-doc-viewer#idocument
I haven't tried this, so you will have to see if it works.
You may have to use a custom file loader https://github.com/A

[2020-11-12 04:54] DAHU123 opened #58 "预览10M左右的word文档，预览不了"
![image](https://user-images.githubusercontent.com/28329138/98897291-0d59d080-24e6-11eb-8750-c0bca162b6d3.png)
最大支持的文件体积是多大呀？怎么去配置呀？

[2020-11-16 10:18] mattmogford-alcumus commented on #58
@DAHU123  Apologies, I can't read what you have written.
But the error looks like a limitation of MSDoc Viewer, they must have a limit on file sizes.
How big is the docx file you are trying to upload?

[2020-11-16 15:56] frankieali4 commented on #57
I think what @Relaxe111 is asking for is support to render file blobs as seen here in `react-pdf` https://react-pdf.org/advanced#on-the-fly-rendering. I'm not sure how you would support this across the multiple file type plugins.

[2020-11-17 10:50] mattmogford-alcumus commented on #57
I will look into this, I feel like if it can't do it right now, it shouldn't take much effort to make it work.

[2020-11-17 17:07] Relaxe111 commented on #57
oh sorry didn't received MSG ( Yes  I am asking if is possible support for render file blobs )

[2020-11-18 10:01] wkungu opened #59 "CORS Policy Issue"
Hi,

I'm getting `Access to fetch at 'https://remote_server/sample.pdf' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.` while loading a remote file.

How do I resolve this on react-

[2020-11-18 13:18] svengustafsson opened #60 "Add PDF rotation"
Would it be possible to enable / expose PDF rotation functionality?

I see that [pdf.js appears support PDF rotation](https://github.com/mozilla/pdf.js/blob/a06f487bd40539cb44adaf9e6031d3beb3248c98/src/display/api.js#L1059).

[2020-11-26 20:13] emreb76 opened #61 "Page Navigation"
Hi, thanks for your work.

Could you add parameters for page number/navigation, so the user can pass a page number to open the specified page.

[2020-11-27 09:20] mattmogford-alcumus commented on #61
That is a great idea, I will look into this ASAP.
Will be very useful thank you.

[2020-11-27 09:38] mattmogford-alcumus commented on #59
The issue here is that the server you are trying to access the pdf from, has a CORS policy that doesn't allow your localhost connection to download it's files.
If you are just testing sample files, it would be easier to download the pdf and load it locally.
Or have you're own server hosting the files, with your own CORS policy.

[2020-11-27 09:44] #58 closed

[2020-11-27 16:59] kingeke opened #62 "Is there support for Base 64 files?"

[2020-12-16 20:46] david-mcleod commented on #62
@kingeke passing a data uri works...

[code]

[2020-12-19 16:00] ElixirMike opened #63 "Could you support content-type to determine URL validity?"
I'm storing images in firebase. These end up with a format like this:

https://firebasestorage.googleapis.com/v0/b/graceblocks-4efeb.appspot.com/o/customers%2Fschema_1%2Fattachments%2F67282db5-5a8c-4d66-9862-968ce6fcecf3.jpg?alt=media&token=35f685d8-c449-42cc-bafe-cc70e44370e5

The DocViewer doesn't recognize this URL as a .JPG even though it is. Is there anyway to add support where we specify the

[2020-12-24 14:40] knaveenstar commented on #62
Its supports only Pdf, what application type should pass for docx and excel and PPT

[2020-12-24 15:51] knaveenstar opened #66 "Excel,Docs Files Not supported in Base64 Input method"
Hi Team,

I try to load the files using the Base64 method. such as below

  <DocViewer
    documents={[{uri: this.state.FileBase64}]}
    pluginRenderers={DocViewerRenderers} config={{header:{  disableHeader: true,
        disableFileName:true}}}/>

Its working fine for PDF and Images but not working for Docx,doc,xlsx files.

![image](https://user-images.githubusercontent.com/30283702/103097616-d8

[2020-12-24 17:51] mattmogford-alcumus commented on #62
Current Renderable File Types

[2020-12-24 17:53] mattmogford-alcumus commented on #66
The included renderer for Microsoft doc files etc. Only allow for URLs at this time.
You could create a custom renderer if required
________________________________
From: knaveenstar <notifications@github.com>
Sent: 24 December 2020 15:51
To: Alcumus/react-doc-viewer <react-doc-viewer@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Alcumus/react-doc-viewer] Excel,Docs

[2020-12-25 06:24] knaveenstar commented on #66
HI Alucumus,

can you please help me create the custom render which supports base64 as input and support for office file such as word,excel and PPT

[2020-12-25 06:26] knaveenstar commented on #62
Hi Alcumus,

I tried to use the defined current renderable fie types but its shows like this.
![image](https://user-images.githubusercontent.com/30283702/103122875-2ab6b880-46a8-11eb-8401-767fa0f93a0a.png)

[2020-12-26 10:19] mattmogford-alcumus commented on #66
@knaveenstar Hi,
There are ways to convert DocX to html and possibly pdf.
But there's not really a common way to locally render all ms docs. Each ms document type is very complex on its own and would take A LOT of manual conversion to display in the browser.

[2020-12-28 15:50] mattmogford-alcumus commented on #62
@knaveenstar
Please see...
https://github.com/Alcumus/react-doc-viewer/issues/66

[2020-12-28 15:51] #62 closed

[2021-01-05 10:21] ChristianRuiz opened #67 "Can is use Office Embed in a comercial project?"
Hi,

I've been looking for information on the https://view.officeapps.live.com/op/embed.aspx endpoint but I've not been able to come up with a clear answer. Do you know if you are allowed to use that endpoint in a comercial website (not based on office 365)?

Btw, loved how easy to use and the ability to import just the needed renderers!

[2021-01-06 18:49] drewjulo commented on #59
I host my files using aws and set my cors policy as below

  [
    {
        "AllowedHeaders": [
            "*"
        ],
        "AllowedMethods": [
            "GET",
            "HEAD"
        ],
        "AllowedOrigins": [
            "*"
        ],
        "ExposeHeaders": [],
        "MaxAgeSeconds": 3000
    }
]

and i'm still facing this issue

[2021-01-06 19:54] #59 closed

[2021-01-06 19:55] mattmogford-alcumus commented on #59
Hi,
Sorry this would be an aws / server issue

[2021-01-07 08:57] wkungu commented on #59
This worked for me.
[
    {
        "AllowedHeaders": [
            "*"
        ],
        "AllowedMethods": [
            "GET",
            "HEAD"
        ],
        "AllowedOrigins": [
            "*"
        ],
        "ExposeHeaders": []
    }
]

[2021-01-07 08:58] wkungu commented on #59
This worked for me.
[code]

[2021-01-14 13:48] anasyo10 opened #68 "ERROR in ./node_modules/react-pdf/dist/esm/eventBus.js"
Hi, I am getting this error when I am using the package on my rails react app,
[code]

It's a simple import not anything fancy
[code]

[2021-01-24 17:48] milinkovitch opened #69 "CORS Issues"
Hi,
Thanks for this usefull package.

I'm wondering abçut how can I add the credentials to the fetch request.
This crendentials are needed as we must be logged to have the rights access.

For the time being, I upaded directly the code of fileLoader.js :
from
`    return fetch(documentURI, { signal: signal }) `
to
`    return fetch(documentURI, { signal: signal, credentials: 'include' })`

Is there

[2021-01-24 22:27] milinkovitch opened #70 "Same file type pagination"
I found an issue by using previous et and next function.

If 2 files have the same file type, the next file is not uploading and it's loading infinity.

I would like to help you on this package, don't hesitate if you need another hand.

Thank you again for developing this package !

[2021-01-25 00:25] mattmogford-alcumus commented on #70
Hi, if you have a fix. You can provide a branch / Pull Request. And will review and merge.

[2021-02-02 18:39] tkayyyyys opened #71 ".jg files stuck in loading"
Hi,

 Firstly, thanks for taking the time to create such a great package.

 Images loading from the filesystem work great. But I'm having some issues loading files from the host URL. Something like: api.localhost.com/img.jpg  . React-doc-viewer just sits there spinning. I can, however, view the image fine if I encapsulate it in a html tag <img src="api.localhost.com/img.jpg"/> so I know the link i

[2021-02-12 14:15] akshayvdongave opened #72 "Docx is not working"
Hello,
i am trying to show docx type document but it showing error.
![Screenshot 2021-02-12 194148](https://user-images.githubusercontent.com/67629531/107778796-8299a380-6d6a-11eb-8aca-539a06b4580f.png)

for this is used code
const docs = [
        { uri: "http://localhost:8080/UploadDocs/sampleDoc.docx" },
        { uri: "http://localhost:8080/UploadDocs/sampleformat1032.rtf" },
        { uri: "h

[2021-02-12 14:18] mattmogford-alcumus commented on #72
Duplicate of #66

[2021-02-12 14:18] #72 closed

[2021-02-12 14:19] #66 closed

[2021-02-18 09:27] akshayvdongave commented on #72
@mattmogford-alcumus
can you please give any sample code for custom renderer for docx or any type .
in documentation i got for image but i am got get solution for docx.
please help me for create custom renderer for docx

[2021-02-18 09:33] mattmogford-alcumus commented on #72
@akshayvdongave  A custom renderer in the context of this package is very simple and documented.
A custom renderer for Microsoft files is 1000x more complex. The included Microsoft renderers will render uploaded documents , but not local documents.

[2021-02-21 22:17] ZeemZach opened #73 "doc-nav previous n next not working"
at initial 1st file of documents[] loads but after using doc-nav previous or next button. loader keeps on loading bcoz fetch request is not made to 2nd file

[2021-02-22 09:25] mattmogford-alcumus commented on #73
Please could you provide an example of your code so that we can investigate further.

[2021-02-23 16:51] jojonarte commented on #73
@mattmogford-alcumus I'm encountering the same problem, here's a sample code that replicates this problem, the first PDF gets loaded, however the next doesn't even load, it's just stuck in loading state.
[code]

[2021-02-23 17:43] ZeemZach commented on #73
@mattmogford-alcumus  - I have the same code structure as @jojonarte

[2021-02-23 18:10] jojonarte commented on #73
@mattmogford I've been investigating, I could get it to work by adding the `currentDocument` dependency here
https://github.com/Alcumus/react-doc-viewer/blob/fc604da9fb7de040d8799984797141c2482576ad/src/utils/useDocumentLoader.ts#L91

However it resuts in an unending amount of re-renders

[2021-02-23 18:16] jojonarte commented on #73
adding `currentFileNo` seems to do the trick

[2021-02-23 18:25] jojonarte commented on #63
I think you can implement a custom fileLoader for this

[2021-02-24 12:24] Tufanmk21 opened #75 "Hide header menus"
Is it possible to hide the header menu( Zoom, Pagination, download, etc), or can I move it to the bottom?

[2021-02-24 12:43] auronsan commented on #63
got same issue. @jojonarte mind to share how fileloader work on .doc for office api? seems hard

[2021-03-02 21:10] subodhkalika opened #76 "How do i hide the download button?"
Is there a way to hide the download button on the viewer?

If not how do i make it work?

<img width="766" alt="Screen Shot 2021-03-03 at 8 08 28 am" src="https://user-images.githubusercontent.com/20354959/109715533-db38bf80-7bf7-11eb-975e-bdc04d13fc4c.png">

[2021-03-03 01:27] subodhkalika commented on #76
For now, I used css to hide it. But it would be great to have a config. Thanks for your effort on this library.

[code]

[2021-03-03 01:29] subodhkalika commented on #75
You can use  css to hide it if the config doesn't exist. I targeted this element:

[code]

[2021-03-10 23:52] mka142 opened #77 "Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons"
Hi! I tried to use `react-doc-viwer` in my react project, but I come across on this issue:

![Screenshot from 2021-03-11 00-34-23](https://user-images.githubusercontent.com/69858959/110713400-2bb8aa00-8202-11eb-9ddc-f2f51464459c.png)

I tried to change versions of react, adding separate react in peerDependencies.
react-doc-viwer use `react@16.14.0` and `react-dom@16.14.0` so in theory it support h

[2021-03-15 15:41] thefedoration commented on #57
Hi @mattmogford-alcumus I'm would also like to embed blob urls as files. Any update on this feature request?

[2021-03-18 16:10] jojonarte opened #78 "HTML Renderer not working"

[2021-03-19 05:54] cavinpabua opened #79 "File Not Found for .docx file types"
![image](https://user-images.githubusercontent.com/53284605/111737367-74cfc480-88ba-11eb-8538-d5baf85d22bd.png)

All other file types can be viewed and working fine except docx

`<DocViewer documents={initVal} pluginRenderers={DocViewerRenderers} style={{width:"100%", minHeight:"600px", marginBottom:"30px"}} />`

All files are from firebase storage which is already enabled CORS

[2021-03-19 09:41] mattmogford-alcumus commented on #79
@cavinpabua if you are providing a url to your document, then it would be a configuration issue on your firebase somehow

[2021-03-19 09:42] #79 closed

[2021-03-22 07:53] deepak-agarwal commented on #77
I am getting the same issue, can anyone help here.

[2021-03-23 05:44] jkarasha commented on #57
Looks like this is going to be a feature soon? Anybody come up with a workaround in the meantime?

[2021-04-07 11:54] sabzeta commented on #57
Passing the fileData and fileType seems to not overwrite the request to the uri - and when that loads it overwrites the fileData?
What eventually worked for me was usinga custom renderer and loader. Would have prefered to use the loader only with the default renderers, but this is fine too.

The documentation is a good starting point, but I think what is missing from the example is that fileLoader

[2021-04-13 21:20] ThatOneAwkwardGuy commented on #63
Also would be interested in a solution to this

[2021-04-13 21:47] ThatOneAwkwardGuy commented on #63
Nevermind, my solution was to add the config that keeps maintains URL params when they're being loaded.
`<DocViewer documents={docs} config={{
 header: {
  disableHeader: false,
  disableFileName: false,
  retainURLParams: false
 }
}} />`

The main error is coming from the doc viewer making a HEAD request to try and figure out what the doctype is, so you'll have to specify what the doc type is for

[2021-04-19 08:10] ironbyte opened #80 "PDFRenderer error: Can't perform a React state update on an unmounted component"
Hi, I get the following error message which causes the PDF page viewer UI to collapse. It happens when the component is re-rendered which is triggered via a React state update. It seems that the error originates from `PDFRenderer` plugin component.

[code]

I'm able to reproduce this issue in my code sandbox - (https://codesandbox.io/s/affectionate-feistel-zpfhn). Ignore Failed to load PDF file er

[2021-05-02 12:09] hawkzey opened #81 "Add AUTH headers to Doc Uri?"
I am wanting to use the document URI to display a file, but I cant seem to figure out how to add custom headers to the Head and Get http calls that happen.

These headers are things so that the requests can be authenticated.

[2021-05-08 22:43] nimsathi commented on #77
I'm facing the same issue

[2021-05-15 11:08] ArniyhJS commented on #57
please any update with regards to the open question?

[2021-05-25 21:52] masudhossain opened #84 "No Renderer for file type application/octet-stream"
Getting this error when i try to view pptx or docx files.

[code]

[2021-06-02 10:02] abhishekchhugani commented on #80
I am facing this as well. Is there an update on this. Need a fix urgently @mattmogford

[2021-06-02 11:19] abhishekchhugani commented on #80
Found a fix. If we pass the file as arrayBuffer along with the URI then it works

![image](https://user-images.githubusercontent.com/22094572/120471521-27a6bd80-c3e8-11eb-89d5-02590a3a0ccc.png)

[2021-06-02 17:10] notable-tony opened #85 "Returns 403 Forbidden error for AWS pre-signed PDF files"

[2021-06-04 06:14] abhishekchhugani opened #86 "Can we add a button to print the document similar to the download button"
Can we have a an option to have a print button..just like the download button..we can place the print button next to the download button.

We can pass it as props whether we want to see a print button or not.

@mattmogford-alcumus @mattmogford @alcumus-itinfrastructure

[2021-06-04 08:23] alcumus-itinfrastructure commented on #86
Hi, this wouldn't be one for Infra so leave it with Matt.

Cheers

Scott

[2021-06-15 18:53] minericpark commented on #77
Same for me as well!

[2021-06-16 17:46] minericpark commented on #77
For those who are still looking into this issue, it seems like this package has some sort of incompatibilities with the latest Node versions or NPM versions.

What fixed it for me is downgrading my Node version from 16.3.0 -> 10.24.1 (with npm 7.15.1 -> 6.14.12). There was no react hook error since, and the component rendered properly.

[2021-06-17 01:49] Angelk90 commented on #57
@mattmogford, @mattmogford-alcumus  : I have a url of type `blob:https://site.com/dce5e4da-0a44-4aa7-8c33-941af8cbcc93`, there is news about this function, it is very important to me it is only way I have.

[2021-06-18 06:08] rajat-jain-au5 opened #87 "docx and pptx files not loading"

[2021-07-01 07:37] rusicsemenov commented on #77
I don't why, but if you run install from the yarn as `yarn install` all will works perfectly.

[2021-07-05 16:29] erkib opened #88 "Filename from headers"
Add configurable option to detect filename from Content-Disposition header if present.
f.ex.
`content-disposition: inline; filename=2021_pricelist.pdf`

This would be useful when URL to file is an auto-generated or other kind of API URL.

[2021-07-06 05:36] erkib commented on #87
For Office files preview to work correctly, I discovered that the URI of the document has to be full URI and accessible to the rest of the world, because LIVE service is used to show the preview. Does your URI meet those requirements?

[2021-07-13 14:59] fredc97 commented on #85
any solutions here?

[2021-07-15 11:06] mkorytskyi opened #89 "After window resize content disappears"
After any window resize rendered content disappears, so it means that document disappears from DOM

[2021-07-15 12:32] fredc97 opened #90 "Default pagination option with PDF"
Do I need to create a new custom renderer if I need the paginated state to false by default ? Or a config exist to customize the initialPDFState. Thank you

`export type IPDFState = {
  zoomLevel: number;
  paginated: boolean;
  numPages: number;
  currentPage: number;
  mainState?: IMainState;
};

export const initialPDFState: IPDFState = {
  zoomLevel: 1,
  **paginated: true,**
  numPages: 0,

[2021-07-16 11:50] gmore02 opened #91 "Uncaught ReferenceError: DataStream is not defined"
![Capture](https://user-images.githubusercontent.com/85298441/125943061-2e7d4930-d208-4c66-b01a-525dd4c85dd4.PNG)
Getting this error
const docs = [
    { uri: 'https://url-to-my-pdf.pdf' },
];

 <DocViewer documents={docs} />

[2021-07-27 14:34] chadlavi-casebook opened #92 "What do the theme colors do?"
I'm experimenting in a codesandbox since this library does not have live code examples.

For theming, you give this example in your README:

[code]

But it's not documented anywhere what those theme keys control the colors of -- and in experimenting with a PDF, it seems that the intuitive guesses I made are wrong about this.

For example, it looks like the `text_primary` color is also used for tex

[2021-07-28 04:33] lruizcr commented on #84
I am getting same issue when try to render a pd file.

[2021-08-02 11:25] rajeevbhosle commented on #75
hi...

i want to show all pages   by default

means   no Pagination , how to do that

[2021-08-03 20:01] amansani commented on #84
I am getting the same issue for docx file type.  Any update on this issue?

[2021-08-12 07:42] shantha2210 commented on #66
@knaveenstar hi,
do you find any solution for rendering docx, ppt files using base64, i had same scenario for my current work. any suggestions might be useful.

Thanks
Shanthakumar

[2021-08-13 19:13] meticoeus commented on #85
Sound like this should added to the documentation.

[2021-08-17 05:15] lruizcr commented on #84
@masudhossain @amansani  This type of issue is server related. The server that returns the documents should specify in the header the type of document. The solution will depend on your current architecture.
I hope this helps to resolve your issue.

[2021-08-19 11:04] andygr1n1 commented on #91
Our team replaced the project from create-react-app to vite, and this problem has appeared. Now  I try to resolve it, let's be in touch

[2021-08-19 13:50] arpitprod commented on #84
@lruizcr yes, this helped

[2021-08-25 15:28] amansani15 commented on #89
I am facing the same problem. Any inputs are highly appreciated.

TIA

[2021-08-26 13:36] kalyant-dev opened #93 "No Renderer for file type application/json"
![image](https://user-images.githubusercontent.com/55451066/130972354-c9acbc3a-bfbb-4ad9-820f-2beaa268034f.png)

[2021-09-01 20:44] lukeschunk commented on #85
@fredc97 this is the work around i landed on. when i made the presigned URL work with a `HEAD` request, the subsequent GET failed.

i put "application/pdf" for a fileType and it's working for PDFs. Not sure what the workaround will be for trying to display multiple file types yet. Feels bad to have to do client side mapping/parsing but that might be what I land on.

[2021-09-09 02:49] robert1ridley opened #94 "Page number text"
Is there any way to change the text where the page number is displayed? I need to use a different language.

[2021-09-09 15:26] arpitprod commented on #80
pdf file content-type is application/javascript and it should be application/pdf then file will be load fine.

<img width="994" alt="Screenshot 2021-09-09 at 20 52 22" src="https://user-images.githubusercontent.com/19798516/132715058-8d6ab26e-b338-4d8f-9ba1-8dc38a36dcc5.png">

[2021-09-12 14:32] TylerKitchens commented on #61
any updates on this feature?

[2021-09-21 10:05] divanshu222 commented on #84
@lruizcr can help with an example please

[2021-09-21 18:30] ilkou commented on #72
this library uses an external service to render documents, this external service cannot recognize local files,

Example:

[code]

in this case, the `external-service` has no access to your `local` files so u should provide a  complete accessible URL,
something like:

[code]

OR

[code]

[2021-10-06 02:09] chenshuiluke commented on #77
I'm encountering the same issue.

[2021-10-06 02:48] CarlaMck77 opened #95 "Incompatiable with npm ^7.0.0"
I received this error when trying to add this to my project

Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Rules of Hooks
3. You might have more than one copy of React in the same app
S

[2021-10-12 20:00] amansani15 commented on #61
Looking for this feature updates. TQ

[2021-10-21 07:54] fuad777777 commented on #95
Install the package using `yarn`
`yarn add react-doc-viewer`

[2021-10-26 03:57] LLOUIS03 opened #97 "Can I use a Blob to display it into the app"
I try to running the DocVieweComponent like this:
[code]

the item.file is an File object, but the app returns me an error

![image](https://user-images.githubusercontent.com/5265015/138806368-2c66fdb9-360e-4849-8654-6f218deb7423.png)

if any has any advice, please let me know

[2021-10-30 06:19] gopia-aroopatech opened #98 "CORS error for viewing PDF"
Hi,

We are getting a CORS error while viewing the PDF in React-Doc-Viewer. The same coding was working fine for Doc & Docx. Below is the screenshot. Past one month it was working well. What's wrong with this.

![error](https://user-images.githubusercontent.com/43414034/139522637-1cae0554-6f62-4aa9-9368-ee3077111285.png)

const documents = [{ uri: this.state.fileurl, fileType: 'pdf' }];
this.setSt

[2021-10-30 09:19] gopia-aroopatech commented on #98
Hi,
I fixed the above issue. This was related to Azure CORS settings.

[2021-10-30 09:19] #98 closed

[2021-11-02 22:13] anthonygoodfynd commented on #87
then what is the point of this? i can just write a node function to embed it myself and i wasted so much time to find out u cant load the most common doc types on earth?

[2021-11-16 04:11] chandrasekhar-mvsn opened #99 "Can we hide/disable download/saveAs options from docx, xlsx, ppt view."
For Pdf I can able hide download option from viewer by applying **display: none** property for the element.
In case of docx, xlsx, ppt I can't able do the same.
Is there a way to restrict  download/saveAs  options form docx, xlsx, ppt view.
![pptgit](https://user-images.githubusercontent.com/37303816/141905846-e8115eeb-31f7-45c4-ae19-333277e6002e.jpg)

![xlsxgit](https://user-images.githubusercont

[2021-11-18 09:40] FaizanMostafa commented on #93
Any update on this issue?

[2021-11-19 07:40] kalyanbabutangella commented on #93
no update

[2021-11-19 15:11] FaizanMostafa commented on #93
It seems like the issue is with the firebase storage, as I am also using firebase storage and getting the same error as yours. Adding a fileType key in every document object along with uri key, helped me overcome this error but now the file renderer keeps on loading.

[2021-11-19 15:36] kalyanbabutangella commented on #93
Ho, Yeah then have you overcame the loading or not?

[2021-11-19 15:46] FaizanMostafa commented on #93
Unfortunately not yet :'(

[2021-11-19 15:48] kalyanbabutangella commented on #93
If you get Any solution for this can you please let me know

[2021-11-19 22:03] FaizanMostafa commented on #93
react-doc-viewer is unable(keeps loading) to load the document from firebase storage because of CORS error. Follow this [stackoverflow answer](https://stackoverflow.com/a/58613527/8424752) to set the CORS origin on your google cloud bucket and it will resolve the issue(at least it did for me). Cheers...

[2021-11-23 05:01] mrinalkasyap-qmetry opened #101 "Markup/code file not supported."
This library supports the .txt and .docx file formats, however it does not support equivalent file formats with alternative file extensions.
Is there a method to use this library to display (.CSS,.HTML,.PHP,.C,.CPP,.H,.HPP,.JS) files?
One of such library that provide support to these files is [ngx-doc-viewer](https://github.com/Marcelh1983/document-viewer/tree/main/libs/ngx-doc-viewer) but it work

[2021-11-29 17:29] thefedoration commented on #97
@LLOUIS03 did you get it eventually? Trying to do the same, with same results so far

[2021-11-29 18:20] LLOUIS03 commented on #97
I move to another library,  react-file-viewer it can be helpfull

[2021-11-29 19:13] thefedoration commented on #97
Thank you. Yeah that's the one I currently use, but I'm not quite satisfied with how it renders docx files (formatting is completely off), so was looking for an alternative and came across react-doc-viewer.

[2021-11-30 00:26] LLOUIS03 commented on #97
I had to fork the repo, and made some changes maybe you had to do like this.

[2021-12-01 22:32] dgilfoy opened #102 "Download button for PDF doesn't work in iOS"
The download button for a PDF doesn't work in iOS, tested on 14.8.1 it just sits there and nothing happens.  Works fine on desktop and in chrome on Android.

[2021-12-14 03:35] smallWhitevv commented on #76
`.pdf-father {
display: none
}`

[2021-12-14 03:36] smallWhitevv commented on #76
Set a superclass

`
.pdf-father {
a {
display： none
}
}
`

[2021-12-14 14:23] mouhsinelonly commented on #95
Does anyone know how to overcome this?

[2021-12-19 18:29] shahariar50 opened #104 "Content disappeared when render."
I am working on a react project where I have been trying to preview the different types of files from the different link and when the link changes, the app renders and the preview disappears.

[2021-12-20 09:52] anbu-securra commented on #104
Facing the same issue. Please update here if you got any leads.

[2021-12-20 11:03] anbu-securra commented on #104
![image](https://user-images.githubusercontent.com/94592489/146756987-274e3af6-e6de-4a79-8617-8f192e70c78b.png)

File: https://github.com/Alcumus/react-doc-viewer/blob/master/src/components/ProxyRenderer.tsx

`CurrentRenderer` variable is undefined and because of that null value is being returned and it turns out to be replacing the old content with null value ie. the preview disappears.

[2021-12-25 21:25] kdeoliveira commented on #95
I am experiencing the same issue. It seems that there are some dependencies issues with newer react-dom versions.

[2021-12-28 10:23] wachidmudi commented on #97
As far as i know when exploring this library, `uri` only accept domain specific string, either in local or cloud server

[2022-01-13 09:49] yusuf-khamis commented on #68
did you ever figure this out??

[2022-01-28 15:03] siwix1 opened #105 "Compile error"
Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory.

Get this when creating the basic example.
to reproduce
npx create-react-app docviewer
overwrite app with the example code

import DocViewer from "react-doc-viewer";

function App() {
  const docs = [
  //  { uri: "https://url-to-my-pdf.pdf" },
    { uri: require("./test.pdf") }, // Local File
  ];

  retu

[2022-02-02 13:47] blackhill commented on #99
Any updates on this one @chandrasekhar-mvsn?

[2022-02-02 13:48] blackhill commented on #90
Did you find a solution @fredc97?

[2022-02-03 14:24] arung-agamani commented on #91
Sorry for necrobumping, but I managed to solve the problem in Vite by declaring global window variable in the `index.html` file, just to make a reference to the said object for DataStream.js to use.

Added this in the `<head>`
[code]

[2022-02-16 06:40] RachanaDhalliSrinivasa opened #106 "File re-renders or reloads each time any action happens on the page."
File re-renders or reloads each time any action happens on the page. Such as a click or search action. How to stop the reloading of document each time on click?

[2022-02-16 14:03] shahariar50 commented on #104
@blackhill Not yet

[2022-02-16 18:41] blackhill commented on #104
@shahariar50 I used a Memo to rerender the component only if the docs are changed. This worked for me.

[2022-02-16 22:47] ricardosikic opened #107 "How do i get the erros?"
I'm trying to get some errors when the content type is ocstream, but i cant find a function to do that.

[2022-03-15 20:33] hahatulk commented on #106
https://reactjs.org/docs/react-api.html#reactmemo

[2022-03-16 07:25] hahatulk commented on #105
same here, any solution?

[2022-04-13 14:05] pitty99 opened #108 "Can this library read the end of line?"
I tried to look for an API or feature to read the end of line but i found nothing. Each sentence are not separated even if there is an end line between them . Does this library support reading end of line in the paragraph?

[2022-04-16 10:31] cyntler opened #109 "New fork of this library"
I forked this repository and added changes from this pull request. Additionally, I added the ability to overwrite the component with loading renderer and no renderer (error). This fork is here and has the ability to add from npm: https://github.com/cyntler/react-doc-viewer

This is because the last version was released 2 years ago and library updates are needed.

[2022-04-29 14:15] ehsan-esfahani76 opened #110 "invalid hook call"
It gives this error when I run it:

Uncaught Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Rules of Hooks
3. You might have more than one copy of React in the same app.

i use react 18

[2022-05-07 05:49] MMahendra001ScaleTech commented on #87
I am having the same issue here, it is giving us continuous loader and some short of cors error.

[2022-05-07 05:50] MMahendra001ScaleTech commented on #69
@milinkovitch can you tell me when you were having this cors issues and how did you fixed it.Thanks.

[2022-05-07 07:12] MMahendra001ScaleTech commented on #87
Worked this way :
Give fileType
fileType: 'docx'

[code]

[2022-05-07 07:14] MMahendra001ScaleTech commented on #72
Worked this way :
Give fileType
fileType: 'docx'

[code]

[2022-05-07 07:15] MMahendra001ScaleTech commented on #69
Okay got it :

Worked this way :
Give fileType
fileType: 'docx'

[code]

[2022-05-23 17:52] cyntler commented on #110
@ehsan-esfahani76 Can you move this issue to my forked version of this repository? https://github.com/cyntler/react-doc-viewer

[2022-05-26 09:42] evgen-kent commented on #110
I also have the same Error but I use React v.17.0.1

[2022-06-06 17:27] samuel-lustriman commented on #109
Hello, why can't I run the build script?
@cyntler

[2022-06-06 19:15] cyntler commented on #109
@samuel-lustriman do you see any error? can you provide more information? your version of Node.js etc.

[2022-06-21 07:08] gayathri138 commented on #87
![image](https://user-images.githubusercontent.com/97589147/174737647-4b078df5-bb91-4db1-aae2-218cb2270598.png)
  xlsx ,csv,docx not displaying

[2022-06-21 07:20] gayathri138 opened #111 "xlsx,docx,not supporting"
![image](https://user-images.githubusercontent.com/97589147/174740018-ff81a5bb-5d87-4163-9035-44d8f642d0ae.png)

[2022-06-21 11:57] erkib commented on #87
You need a public URL to your documents for this component to work. Your picture already shows localhost, so no, it won’t show it.

[2022-06-22 08:25] msdesignsolution commented on #111
I've the same problem, did you find a solution?

[2022-06-23 07:18] sjy-sun commented on #75
how do i hide the bottom controls( Zoom, Pagination, download, etc)?

[2022-06-23 15:32] subodhkalika commented on #75
@sjy-sun What file type are you using?  It differs according to the file type.

Use css for .doc:
[code]

For PDF:
[code]

[2022-06-24 01:22] sjy-sun commented on #75
Two iframe tags on the outside .
It doesn't seem to work.

[2022-06-24 01:27] sjy-sun commented on #75
@subodhkalika
#WACStatusBarContainer {
display: none;
}

Two iframe tags on the outside .
It doesn't seem to work.

[2022-06-29 14:29] noopur-orolabs opened #112 "Support CSV"

[2022-06-29 20:44] cyntler commented on #112
@noopur-orolabs This repo looks like inactivity for a long time. Move your issue to the new one if you want: https://github.com/cyntler/react-doc-viewer.

[2022-07-01 12:01] lakshmi-intechcode commented on #84
can someone elaborate the solution. we are facing the similar issue while we reading from aws s3 bucket

[2022-07-05 17:37] viper4595 commented on #87
Work like a charm. You save my night :)). Thank you

[2022-07-07 09:13] muratbekb95 opened #113 "Language recognition error"
I uploaded one document to Google Docs and made it public. Later I had discoeved that there were issues with the recognition of non-English letters, in my case it is Russian letters. It just shows strange symbols, when I try to open a file.

[2022-07-08 08:45] clio001 commented on #110
I am receiving the same error. I am using React v.18.1.0. Any suggestions are very much appreciated.

[2022-07-13 11:49] ShlemenKirill commented on #110
Any updates? The same issue on React v.17.0.2

[2022-07-14 10:18] abdurrahimkh opened #116 "Uncaught ReferenceError: DataStream is not defined"
i just copy the example and change with my documents and receiving this error
Uncaught ReferenceError: DataStream is not defined

[2022-07-15 15:31] cyntler commented on #110
@ShlemenKirill @clio001 @evgen-kent Does this problem also occur at this fork: https://github.com/cyntler/react-doc-viewer? Please check it.

[2022-07-24 09:30] spogulis commented on #110
That specific problem does not but I do get the following error:

[code]

[2022-07-25 07:41] webstar-code commented on #110
Same error here

![image](https://user-images.githubusercontent.com/60955315/180724185-9c9d683e-022b-4deb-b5b8-c8d1b1112fa4.png)

[2022-07-25 11:06] kingcwt opened #117 "file type"
不支持csv吗？

[2022-07-27 01:20] tebareinyu commented on #77
Works, Thank you!!

[2022-08-09 03:39] NriotHrreion commented on #110
I got the same error

[2022-08-09 05:56] cyntler commented on #110
@NriotHrreion fork or original?

[2022-08-17 04:50] hemanth12321 commented on #69
I have the same problem. I'm using sample pdf file and it gives me CORS error in console and the loader for pdf file keeps loading forever.  Ideally it should display error message - `Couldn't load pdf file`.
`const docs = [
    {
        uri: "http://www.africau.edu/images/default/sample.pdf",
        fileType: "pdf",
    },
];`

[2022-08-19 15:30] lzinik opened #118 "Can not load different files of same type"
## Summary
Currently if the component is re-render with a document of the same type that it was rendered before, we got a blank screen.

## Steps to reproduce
Re-render the component with a document of the same type as the document that it was rendered before.

## Expected
The second document should be rendered by the component.

## Actual
The second document is not rendered and we get a blank scr

[2022-08-20 15:23] fkbeys opened #120 "Relative imports outside of src/ are not supported"
Module not found: Error: You attempted to import C:\Users\Adminx\Desktop\test.pdf which falls outside of the project src/ directory. Relative imports outside of src/ are not supported.
You can either move it inside src/, or add a symlink to it from project's node_modules/.

How can i preview local files that outside of the src?
thank you

[2022-08-24 20:27] cyntler commented on #120
@fkbeys As you can see, this repo has not been updated for 2 years. I invite you to my fork: https://github.com/cyntler/react-doc-viewer

[2022-08-24 21:27] vmontoyarugertek commented on #91
I have thre same error but the solution @arung-agamani it doesn't work for me

[2022-08-26 20:16] vmontoyarugertek commented on #91
Sorry if the solution is working, I had two index.html. Thanks

[2022-08-27 07:40] arung-agamani commented on #91
I think as long as you put `window.DataStream = null` somewhere on the beginning, it should work. You can put it before react is called on main.ts, for example.

[2022-09-07 08:00] jaijagwani commented on #80
I am also facing the same issue. Has someone found a fix for it?

[2022-09-16 04:42] hienbase commented on #69
same

[2022-09-25 12:52] Alina-sul commented on #110
Had the same issue in original library, fork works perfectly, @cyntler thank you!

[2022-09-25 15:25] cyntler commented on #110
@Alina-sul Nice to hear it! ;) Thanks for the fork using.

[2022-09-26 05:58] AbhishekNegi215 opened #121 "Charge Money"
If we use this Library thus it will take charges in the future cause it has an ISC license.

[2022-09-26 10:48] #121 closed

[2022-09-27 10:44] Deek9399 commented on #110
Were you able to resolve it?

[2022-09-29 09:18] muskan-javed commented on #110
still "invalid hook call" in both
react-doc-viewer and @cyntler/react-doc-viewer. Do anyone know how to resolve this bug?

[2022-09-29 20:24] cyntler commented on #110
@muskan-javed Give me more informations about it - versions of your react, @cyntler/react-doc-viewer, module bundler etc.

[2022-10-28 03:05] amirfakhrullah commented on #97
I solved this issue. You can use `FileReader` to get base64 string and pass it as uri

[code]

[2022-11-18 11:50] sanjay-techuz commented on #84
I am getting the same issue for reading file from s3. Any update on this issue?

[2022-11-21 13:20] AjayIrkal23 commented on #72
i am facing a issue with react-doc-viewer in nextjs i am getting this err

resolve you may need an appropriate loader to handle this file type , currently no loaders are configured to process this file."
please help

[2022-11-21 13:21] AjayIrkal23 opened #122 "resolve you may need an appropriate loader to handle this file type , currently no loaders are configured to process this file.""
i am stuck in this error can anyone help me what to do please

resolve you may need an appropriate loader to handle this file type , currently no loaders are configured to process this file."

[2022-11-29 15:05] thefedoration commented on #97
I did it the same way, with FileReader. Works well for all all but doc/docx/xlsx file formats, as those use microsoft's online viewer and that requires a public url to a file.

In my case I use the `react-doc-viewer` for most file formats, and if it's docx I use [mammoth](https://www.npmjs.com/package/mammoth?activeTab=readme) to convert to html and render that in my app. It still loses most of th